<style>
.navbar-default {
    background-color: {{section.settings.navbackgroundcolor}};
    padding:{{ section.settings.navtopgap}}px 0px;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: {{section.settings.linkcolor}};
    font-size: {{section.settings.linksize}}px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header role="banner">
    {% if template.name == 'index' %}
      <h1 itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
      {% comment %}
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
          {% else %}
            <!-- {{ shop.name }} -->
          {% endif %}
        </a>
        {% endcomment %}
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}
 {% comment %}
    <!-- <a href="/cart">
      {% include 'icon-cart' %}
      {{ 'layout.cart.title' | t }}
      ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
    </a> -->

    {% if shop.customer_accounts_enabled %}
      <ul>
        {% if customer %}
          <li>
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li>
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li>
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li>
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      </ul>
    {% endif %}
{% endcomment %}

  </header>

  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">

      {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <a class="navbar-brand" href="/"><img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo"></a>

      {% else %}
        <!-- {{ shop.name }} -->
        <a class="navbar-brand" href="/">{{ shop.name }}</a>
      {% endif %}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      {% for link in linklists[section.settings.main_linklist].links %}
        {% if link.links != blank %}
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ link.title | escape }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
              {% for childlink in link.links %}
                {% if childlink.links != blank %}
                  <li>
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    <ul>
                      {% for grandchildlink in childlink.links %}
                        <li>
                          <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>

                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>

                <a href="{{ link.url }}">{{ link.title | escape }}</a>

          </li>
        {% endif %}
      {% endfor %}
      <!-- <li><form class="navbar-form" action="/search" method="get" role="search">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
        <div class="form-group">
        <input type="search" name="q" id="Search" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="form-control">
             </div>
        <button type="submit" class="btn">
          {% comment %}
          {% include 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          {% endcomment %}
        </button>
      </form></li> -->
      <li style="padding-right:20px">
        <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
          <span class="icon icon-cart" aria-hidden="true"></span>
          {{ 'layout.cart.title' | t }}
          (<span id="CartCount">{{ cart.item_count }}</span>
          {{ 'layout.cart.items_count' | t: count: cart.item_count }}
          <span id="CartCost">{{ cart.total_price | money }}</span>)
        </a>
      </li>
    </ul>
  </div>

  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "color",
        "id": "navbackgroundcolor",
        "label": "background color"
      },
      {
        "type": "color",
        "id": "linkcolor",
        "label": "link color"
      },
      {
        "type": "range",
        "id": "navtopgap",
        "min": 10,
        "max": 50,
        "step": 5,
        "unit": "px",
        "label": "navbar space",
        "default": 10
      },
      {
        "type": "range",
        "id": "linksize",
        "min": 10,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Font size",
        "default": 16
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
